<!-- /views/Success.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <style>
        /* Add any styling you need for the success page */
    </style>
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_ul">
                <li class="main-header_li"><a href="/">Login</a></li>
                <li class="main-header_li"><a href="/Welcome">Chat</a></li>
                <li class="main-header_li"><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main class="success-main-body">
        <p>Form successfully filled!</p>
    </main>
</body>
</html>
